@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --clr-red: hsl(356, 100%, 66%);
  /* headings */
  --clr-dkBlue: hsl(208, 49%, 24%);
  /* text */
  --clr-white: hsl(0, 0%, 100%);
  /* footer txt */
  --clr-grayBlue: hsl(240, 2%, 79%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Overpass', sans-serif;
}

header {
  height: 35rem;
  background: linear-gradient(
    90deg,
    rgba(255, 143, 112, 1) 0%,
    rgba(255, 61, 84, 1) 100%
  );
  color: var(--clr-white);
  border-bottom-left-radius: 5rem;
  z-index: -1;
}

.back-img {
  z-index: 10;
  background-image: url('./images/bg-pattern-intro.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* -----------------Navbar------------------------ */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 1em;
}

.dropbtn {
  padding: 1.5rem;
  font-size: 1rem;
  color: var(--clr-grayBlue);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
}

/* -----------------Header Text------------------------ */

.login {
  color: var(--clr-white);
}

#signup {
  padding: 0.9rem 2.3rem;
  white-space: nowrap;
}

.top-text {
  margin-top: 5em;
}

.title {
  font-size: 4rem;
  margin-bottom: 0;
}

.sub-title {
  color: var(--clr-grayBlue);
  font-size: 1.2rem;
  margin-top: 0.5em;
  margin-bottom: 3.5em;
}

.register {
  margin: 0.5em;
  padding: 0.9rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-decoration: none;
  border-radius: 500px;
}

.start {
  color: var(--clr-red);
  background-color: var(--clr-white);
}

.learn {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}

/* -----------------First Section------------------------ */

.first-section {
  color: var(--clr-dkBlue);
  margin: 8em;
}

.first-heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.subheading {
  color: var(--clr-dkBlue);
  font-size: 1.7rem;
}

.sec-paragraph {
  width: 35rem;
}

.img-screen {
  margin-right: -22em;
}

/* ---------- Utility Classes ------------ */

.center {
  text-align: center;
}

.flex-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6em;
}

img {
  max-width: 85%;
  min-width: 40rem;
  height: auto;
}
