@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --clr-red: hsl(356, 100%, 66%);
  /* headings */
  --clr-dkBlue: hsl(208, 49%, 24%);
  /* text */
  --clr-white: hsl(0, 0%, 100%);
  /* footer txt */
  --clr-grayBlue: hsl(240, 2%, 79%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
}
